<div class="container" style="margin-top: 3%;">
    <div class="card">
        <div class="card-header">
            <h3>Personas</h3>
        </div>
        <div class="card-body">
            <table class="table">
            <thead>
                <tr class="text-center">
                <th scope="col">ID</th>
                <th scope="col">NOMBRES</th>
                <th scope="col">APELLIDOS</th>
                <th scope="col">ACCIONES</th>
            </tr>
            </thead>
            <tbody>
                
                <tr *ngFor="let persona of personas" class="text-center">
                    <td scope="row">{{persona.id}}</td>
                    <td>{{persona.name}}</td>
                    <td>{{persona.surname}}</td>
                    <td>
                        <button (click)="Editar(persona)" class="btn btn-warning" >Editar</button>
                        <button (click)="Eliminar(persona)"class="btn btn-danger" style="margin-left: 10px;">Eliminar</button>
                    </td>
                   
                </tr>
   
            </tbody>
        </table>
        </div>
    </div>
</div>