<div class="container" style="margin-top: 3%;">
    <div class="card">
        <div class="card-header">
            <h3>Personas</h3>
        </div>
        <div class="card-body">
            <thead>
                <tr class="text-center">
                <th>ID</th>
                <th>NOMBRES</th>
                <th>APELLIDOS</th>
                <th>ACCIONES</th>
            </tr>
            </thead>
            <tbody>
                
                <tr *ngFor="let x of personas" class="text-center">
                    <td>{{x.id}}</td>
                    <td>{{x.name}}</td>
                    <td>{{x.surname}}</td>
                    <td>
                        <button class="btn btn-warning">Editar</button>
                        <button class="btn btn-danger" style="margin-left: 10px;">Eliminar</button>
                    </td>
                </tr>
   
            </tbody>
        </div>
    </div>
</div>